.logo{width:60px;}
.tfg{width:120px;height:120px;}
.mt100{margin-top:100px;}
.mt90{margin-top:90px;}
.confirm{width:100px;float:right;margin-top:-130px;}
.mt30{margin-top:-30px;}
.mt10{margin-top:-10px;}
.isMe{background-color:#eee;}
